body{
	background-color: #99FFFF;
	border: 0;
	border-image: 0;
	<div class="img-hover-zoom">
	<img src="img/Landscape.jpg" alt="This zooms-in really well and smooth">
	</div>
}
<div class"img-hover-zoom">
<img src="img/Landscape.jpg">
</div>